svg.icon path {
  stroke: black;
  fill: none;
}

.toast {
  position: absolute;
  left: 50%;
  top: 50px;
  width: auto;
  z-index: 100;
  background: white;
}

.toast div {
  margin-left: -50%;
  border: solid 2px darkgrey;
  padding: 10px;
  border-radius: 10px;
  background: white;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
	body {
    color: white;
    background-color: black;
  }
  svg.icon path {
    stroke: white;
    fill: none;
  }
  .toast, .toast div {
    background: black;
    color: white;
  }
}

#app {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
#editor {
  height: 100%;
}
.wrapper.horizontal {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.wrapper.horizontal > div {
  flex: 1 1;
  /* allow smaller than natural */
  width: 100px;
}
.wrapper.vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper.vertical .tabPanel.left {
  /* designed to go down to the keyboard on my phone */
  flex: .65 .65;
  height: 100px;
}
.wrapper.vertical .tabPanel.right {
  flex: .35 .35;
  height: 100px;
}
.tabBar button {
  border: none;
  padding: none;
  background: inherit;
}
.tabPanel {
  display: flex;
  flex-direction: column;
}
.tabBar {
  display:flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0 0 0;
  border-bottom: solid 1px black;
  height: 30px;
}
.tabBar>select {
  margin: 0 5px 5px;
}
.tab {
  padding: 4px;
  border: solid 1px transparent;
}
.tab.selected {
  border: solid 1px black;
  border-bottom: 0px
}
.tabBody {
  flex: 1 1;
  height: 10px;
}
.prompt {
  font-size:14px;
  padding-right: 3px;
}
.clear {
  border:none;
  background: inherit;
}

#result, #javascript, #output, #cases {
  padding: 5px;
  overflow: auto;
}
#result, #javascript, #output, #cases, #repl, .cm-tooltip {
  font-family: 'Comic Code', monospace;
  font-size: 12px;
  white-space: pre;
}
/* Do we want to wrap? */
#cases {
  white-space: pre-wrap;
}
#repl {
  height: 100%;
}
#editor .cm-editor {
  height: 100%;
}
.replTop {
  height: 50px;
  overflow: auto;
  white-space: pre;
}
.replBottom {
  padding: 5px;
}
.vbox {
  display: flex;
  flex-direction: column;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.stretch {
  flex: 1 1;
}
.cm-tooltip {
  padding: 5px;
}